body {
  color: #2b2b2b;
  font-family: -apple-system-font, "Helvetica Neue", sans-serif;
  font-size: 0.875rem;

  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #4299e1;
  text-decoration: none;
}
a:hover {
  color: #2b6cb0;
  border-color: #4299e1;
}

a:visited {
  color: #2b6cb0;
}

.bold {
  font-weight: bold;
}

.footer li {
  padding: 10px;
  font-size: 12px;
}
